name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        php: [ '7.4.0', '7.4.30', '8.2' ]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: mbstring, gd
          ini-values: post_max_size=256M, upload_max_filesize=256M
          coverage: xdebug

      - name: Install dependencies
        run: composer install

      - name: Run PHPUnit
        run: |
          ./vendor/bin/phpunit --coverage-html html-coverage-${{ matrix.php }}

      - name: Upload coverage report
        uses: actions/upload-artifact@v2
        with:
          name: coverage-report-${{ matrix.php }}
          path: html-coverage-${{ matrix.php }}

      # - name: Setup documentation
      #   if: success() && github.ref == 'refs/heads/main'
      #   run: |
      #     echo "<h1>Documentation</h1>" >> $GITHUB_WORKSPACE/doc-pages/index.html
      #     cat $GITHUB_WORKSPACE/doc-pages/index.html
      #     ls -alF $GITHUB_WORKSPACE/doc-pages

      - name: Commit and push coverage reports to GitHub Pages
        run: |
          git config --global user.name 'Fat Han Nuraddin'
          git config --global user.email 'hanaddi@users.noreply.github.com'
          git remote set-url origin https://x-access-token:${{ secrets.PAT }}@github.com/${{ github.repository }}
          git fetch
          git branch -r
          git checkout --track origin/gh-pages
          git add html-coverage-*
          git commit -m "Upload coverage reports `date +'%Y-%m-%d %H:%M:%S'`"
          git push --force --set-upstream origin gh-pages

  upload-coverage:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Download all coverage reports
        uses: actions/download-artifact@v4

      - name: List Files
        run: |
          ls -R

      # - name: Combine coverage reports
      #   run: |
      #     mkdir -p doc-pages
      #     cp -r coverage-reports* doc-pages/

      # - name: Commit and push coverage reports to GitHub Pages
      #   run: |
      #     git config --global user.name 'github-actions'
      #     git config --global user.email 'github-actions@github.com'
      #     git checkout --orphan gh-pages
      #     git rm -rf .
      #     cp -r doc-pages/* .
      #     git add .
      #     git commit -m "Upload coverage reports"
      #     git push --force --set-upstream origin gh-pages