name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        php: [ '7.4.0', '7.4.30', '8.2' ]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: mbstring, gd
          ini-values: post_max_size=256M, upload_max_filesize=256M
          coverage: xdebug

      - name: Install dependencies
        run: composer install

      - name: Run PHPUnit
        run: ./vendor/bin/phpunit

      - name: Upload coverage report
        uses: actions/upload-artifact@v2
        with:
          name: coverage-report-${{ matrix.php }}
          path: html-coverage
