name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        php: [ '7.4.0', '7.4.30', '8.2' ]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: mbstring, gd
          ini-values: post_max_size=256M, upload_max_filesize=256M
          coverage: xdebug

      - name: Setup artifact folders
        run: |
            mkdir -p artifacts

      - name: Pull GitHub Pages
        run: |
          git config --global user.name 'Fat Han Nuraddin'
          git config --global user.email 'hanaddi@users.noreply.github.com'
          echo ${{ secrets.FULLURLPAT }} > $GITHUB_WORKSPACE/._pat_
          git config --global credential.helper "store --file $GITHUB_WORKSPACE/._pat_"
          git clone https://github.com/${{ github.repository }}.git PAGE
          git -C PAGE fetch
          git -C PAGE branch -r
          git -C PAGE checkout --track origin/gh-pages

      - name: Install dependencies
        run: composer install

      - name: Run PHPUnit
        run: |
          ./vendor/bin/phpunit --coverage-html html-coverage-${{ matrix.php }} --coverage-text=coverage-text

      - name: Upload coverage report
        uses: actions/upload-artifact@v2
        with:
          name: coverage-report-${{ matrix.php }}
          path: html-coverage-${{ matrix.php }}

      - name: Upload test artifacts
        uses: actions/upload-artifact@v2
        with:
          name: artifacts-${{ matrix.php }}
          path: artifacts

      # - name: Setup documentation
      #   if: success() && github.ref == 'refs/heads/main'
      #   run: |
      #     echo "<h1>Documentation</h1>" >> $GITHUB_WORKSPACE/doc-pages/index.html
      #     cat $GITHUB_WORKSPACE/doc-pages/index.html
      #     ls -alF $GITHUB_WORKSPACE/doc-pages

      - name: Generate images
        run: |
          php genreports/coverage.php coverage-text
          cp coverage.png PAGE/
          cp coverage.png PAGE/coverage-${{ matrix.php }}.png

      - name: Generate index
        run: |
          mkdir -p PAGE/content-links
          echo "Coverage report for PHP ${{ matrix.php }}" > PAGE/content-links/html-coverage-${{ matrix.php }}
          echo "<h1>Pena</h1>" > PAGE/index.html
          php genreports/genindex.php PAGE/content-links >> PAGE/index.html

      - name: Commit and push coverage reports to GitHub Pages
        run: |
          cp -r html-coverage-* PAGE/
          cp README.* PAGE/
          git -C PAGE add .
          ls -alF PAGE
          git -C PAGE commit -m "Upload coverage reports `date +'%Y-%m-%d %H:%M:%S'`"
          git -C PAGE push --force --set-upstream origin gh-pages
          rm $GITHUB_WORKSPACE/._pat_